div.title-box
    img(src="logo.png")
    div
        h1 Pobieranie z Youtube online 
        nav
            a(href="/") Strona Startowa 
            a(href="/about") O pobieraniu
            a(href="https://github.com/Feuerhamster/web-youtube-downloader/" target="_blank" rel="noopener") GitHub