extends _layout

block content
    h1 O pobieraniu 
    h2 Informacja
    p Ta strona nie jest częścią YouTube'a ani Google.

    h2 Skąd mamy dane o filmach oraz linki do nich?
    p Używany oficjalne dane z serwisu youtube.com. Wszystkie linki oraz dane pochodzą z  responsywnej strony danego widea na Youtube.

    h2 Czy pobieranie filmów z Youtuba jest legalne?
    p Każdy ma prawo pobierać publiczne widea z youtuba na użytek osobisty.

    h2 Czy ta strona łamie prawo i regulacje związane z tzw. "convert2mp3" ?
    p
        | Nie. Na stronach typu  "convert2mp3" widea są konwertowane na serwerach dostawcy oraz udostępniane do pobrania.
        | Na naszej stronie, pobierasz widea bezpośrednio z serwerów google.