extends _layout

block content
    div.center
        h1 Pobieranie z Youtube za darmo!
        h2 Wszystkie videa , ścieżki audio i miniaturki

        form
            input(type="url" placeholder="Wklej tutaj link " name="url")
            button Pobierz